.table-container {
  max-width: 6000px;
  margin: 0 auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:hover {
  background-color: #f9f9f9;
}

.submit-butto {
  left: 5%;
  
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  appearance: none;
  background-color: #ffffff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: grid;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 200%;
  overflow: visible;
  padding: 2px 24px;
  position:relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform,opacity;
  z-index: 0;
}

/* Apply styles to the icon */
.submit-butto i {
font-size: 16px; /* Adjust the size as needed */
transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

/* Add animation to the icon on hover */
.submit-butto:hover i {
transform: rotate(90deg);
color: #174ea6;
}


/* CSS */


.submit-butto:hover {
background: #a58181;
color: #174ea6;
}

.submit-butto:active {
box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
outline: none;
}

.submit-butto:focus {
outline: none;
border: 2px solid #4285f4;
}

.submit-butto:not(:disabled) {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.submit-butto:not(:disabled):hover {
box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.submit-butto:not(:disabled):focus {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.submit-butto:not(:disabled):active {
box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.submit-butto:disabled {
box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
